<?xml version="1.0"?>

<!--
  This web.config only contains specific configuration lines added to register these handlers
  through IIS. Additional settings may be required to run in an application.
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>
    <system.webServer>
	  <handlers>
		<add name="MehNotificationDisabler" verb="*" path="/Handlers/DisableNotifications.ashx" type="MehNotifications.Handlers.DisableNotifications, MehNotifications" resourceType="Unspecified"/>
		<add name="MehNotificationSender" verb="*" path="/Handlers/NotificationSend.ashx" type="MehNotifications.Handlers.NotificationSend, MehNotifications" resourceType="Unspecified"/>
	  </handlers>
	</system.webServer>
</configuration>
